*{
    box-sizing: border-box
}
header{
    font-size: 18px;
    color: white;
    border-bottom: 2px solid black;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 16px;
    background-color: orangered;
}
.Main-Header{
    font-size: 40px;
    font-weight:bold;
    color: green;
}
.Subheader{
    font-size: 30px;
    font-weight: bold;
}
.Linksgrid{
    font-size: 25px;
    font-weight: bolder;
    color: green;
    text-decoration: none;
}
.Linksgrid:hover {
    background: rgba(16, 188, 232, 0.38);
}
.hyperlinks, .hyperlinks:visited, .hyperlinks:hover, .hyperlinks:active {
    color: inherit;
    text-decoration: none;
  }
.homepage, .homepage:visited, .homepage:hover, .homepage:active {
    color: inherit;
    text-decoration: none;
  }
.Star{
    font-size: 18px;
    margin-top: 0;
}
img{
    width:200px;
    height: 200px;
    margin-bottom: 0;
    border-bottom: 0;
}
ol {
    list-style-type: none;
    margin: 0;
    padding: 10;
  }
#foods{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
.body h3 {
    color: green
  }
footer{
    background: rgba(54, 136, 54, 0.493);
    padding-left: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}
tr:nth-child(even) {background: #CCC}
